node_modules
dist
target
build
.git
.gitignore
.github
.vscode
.idea
.mvn/wrapper/maven-wrapper.jar
*.md
.env
.env.*
.DS_Store
Thumbs.db
*.log
npm-debug.log*
.gitattributes
docker-compose.override.yaml
